.users-td {
  font-size: 13px;
  border: double 1px #000;
}
.users-td th {
  font-size: 11px;
  height: 20px;
  border: dotted 1px rgb(68, 62, 62);
}

.users-td td {
  font-size: 13px;
  border: dotted 1px rgb(68, 62, 62);
  width: 120px;
  height: 20px;
  text-align: center;
}

.users-td .data-td {
  width: 400px;
  font-size: 12px;
  text-align: start;
}
.pipe-div {
  margin: 40px 0 10px 0;
}

.zoom {
  height: 25px;
  width: 250px;
  font-size: 12px;
}
.clicked {
  background-color: rgb(100, 100, 185);
  color: aqua;
}

.user-btn {
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 1px solid black;
  width: 500px;
  margin-bottom: 20px;
}

.timeout {
  width: 300px;
  height: 170px;
  font-size: 12px;
  margin-bottom: 20px;
}
.repeat {
  width: 200px;
  height: 170px;
  font-size: 12px;
  margin-bottom: 20px;
}
